{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Create a Moodboard</h2>
        <form method="post" enctype="multipart/form-data" class="mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.management_form }}
            {% for image_form in formset %}
                <div class="form-group">
                    {{ image_form.as_table }}
                </div>
            {% endfor %}
            <select name="tags" multiple>
                {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
            
            <button type="submit" class="btn btn-primary">Create Moodboard</button>
        </form>
    {% else %}
        <h2>You must be signed in to create a moodboard.</h2>
    {% endif %}
{% endblock %}
