{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ moodboard.title }}</h2>
                <p>{{ moodboard.description }}</p>
            </div>
            <div class="col-md-4">
                {% if request.user == moodboard.user or request.user.is_staff %}
                    <form action="{% url 'moodboard:delete_moodboard' moodboard.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this moodboard?');">Delete Moodboard</button>
                    </form>
                {% endif %}
            </div>
        </div>
        {% if moodboard.tags %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="projcard-tagbox">
                        {% for tag in moodboard.tags_as_list %}
                            <span class="badge bg-primary">{{tag}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="projcard-tagbox">
                        No tags for this moodboard
                    </div>
                </div>
            </div>
        {% endif %}
        <h3 class="mt-4">Images:</h3>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ image.image }}" class="card-img-top" alt="Moodboard image">
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    <p>No images in this moodboard.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
