{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
    {% endif %}
        <h2>Create a Moodboard</h2>
        <form method="post" enctype="multipart/form-data" class="mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- {{ image_form.as_p }}     -->     
            <!-- Add the input field for multiple images directly in the template -->
            <label for="image">Images:</label>
            <input type="file" name="image" id="image" multiple>  
            <button type="submit" class="btn btn-primary">Create Moodboard</button>
        </form>
    {% else %}
        <h2>You must be signed in to create a moodboard.</h2>
    {% endif %}
{% endblock %}
