{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="my-4">Moodboards</h2>
  <div class="row">
    {% for moodboard in moodboards %}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'moodboard:detail' moodboard.id %}">
                {{ moodboard.title }}
              </a>
            </h5>
            {% if moodboard.tags %}
              <div class="projcard-tagbox">
                {% for tag in moodboard.tags_as_list %}
                  <a href="{% url 'moodboard:index' %}?q={{ tag|urlencode }}" class="text-decoration-none">
                    <span class="badge bg-primary text-white">{{ tag }}</span>
                  </a>
                {% endfor %}
              </div>
            {% else %}
              <div class="projcard-tagbox">
                <span class="badge bg-secondary">No tags</span>
              </div>
            {% endif %}
            <p class="card-text">
              Submitted by: {{ moodboard.user.username }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
